# Docker 관련 설정
.env  # 환경 변수 파일은 제외
*.pid  # 컨테이너 실행 중 생성되는 파일

# Data 디렉토리
data/

db_data

.DS_Store
.env

airflow/logs/dag_processor_manager/dag_processor_manager.log

# Python 관련
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
.venv/

# IDE 관련
.idea/
.vscode/
*.swp
*.swo

# Airflow 추가 설정
airflow/logs/*
airflow/*.pid
airflow/*.err
airflow/*.out

# Environment variables
.env
.env.airflow
.env.postgres
